<div>
<div class="admin-heading blue">
	<span><i class="fa fa-camera"></i> Galleries<i class="btn btn-default btn pull-right fa fa-plus"></i></span>
</div>
<div class="panel panel-primary">
  <div class="list-group" id="gallery-list">
	</div>
</div>
</div>