<div>
<div class="admin-heading blue">
	<span><i class="fa fa-camera"></i> {{name}}<i class="btn btn-default btn-xs pull-right fa fa-plus"></i></span>
</div>
    <ul class="grid cs-style-6" id="gallery-list">
    	<li id="dropt">
        <div class="thumbnail" style="height:135px;background:#fff;margin:10px 5px 5px 10px;margin:0">
          <figure style="line-height:100px;height:100px;text-align:center;border:solid 1px #eee;background:#f8f8f8 no-repeat 50%"><form action="/gallery_items?gallery_id={{_id}}" method="post" class="dropzone clickable" id="image_filename"><input type="hidden" name="_method" value="post" /></form>
          </figure>
          <figcaption class="caption" style="overflow:hidden;height:21px;padding:4px 2px;">
            (Or Click)
          </figcaption>
        </div>
      </li>
   </ul>
</div>