<div>
<div class="admin-heading blue">
	<span><i class="fa fa-camera"></i> {{name}}<i class="btn btn-default btn-xs pull-right fa fa-plus"></i></span>
</div>
    <ul class="grid cs-style-6" id="gallery-list">
   </ul>
</div>