body{background:#ccc url('http://content.sandbox.cloversweet.com/img/tile_texture.png')}
body{background:#f8f8f8}
#container #login{width:500px;padding-top:10px;margin:100px auto 25px;position:relative;border:solid 1px #bbb;background:#f4f4f4;padding:50px 0px}

#cb-source li{padding:0px}
#cb-source a{display:block;color:#000;opacity:.8;text-decoration:none;padding:4px}
#cb-source a i.pull-right{margin-top:2px}
#cb-source a:hover{opacity:1}
#container{display:inline-block;position:absolute;top:41px;left:241px;right:0px;bottom:0px;width:auto}
#content{overflow:visible;width:auto}

#content > div#cal-container{padding-top:20px;width:auto}

  .top-left,.top-right {display:none;background-repeat:none;background-position:50%;width:16px;height:16px;z-index:11000;position:absolute;cursor:pointer;text-align:center;width:24px;background:#fff;line-height:26px;padding:5px 0px 5px 2px;top:1px;opacity:1;}
.top-right:hover,.edit-image:hover{opacity:1}
  .top-right {right:1px;}
  .top-left {left:1px}

.thumbnail:hover .top-left,
.thumbnail:hover .top-right
{display:inline-block}
.thumbnail{position:relative}
#content table.table td{max-width:100px;}
#content table.table{max-width:none;border: 1px solid #dddddd;border-width:1px 1px 1px 0px;
border-collapse: separate;
border-left: 0;}
#content table.table td{min-width:10px;}
.table th,
.table td {
  border-left: 1px solid #dddddd;
}
.table tr td:first-child,
.table tr th:first-child{
  border-left: 0px solid #dddddd;
}
table caption{text-align:left;font-weight:bold;font-size:larger;line-height:40px;padding:5px 15px}
