#container{display:inline-block;width:960px;position:relative;top:0px;left:120px;}
/*#container{display:inline-block;position:absolute;top:41px;left:241px;right:20px;bottom:0px}*/
/*#content{padding:10px;}
#body{background:transparent;}
body{background:#fafafa}
*/
/*#cb-content > li.cb-placeholder.source[name=Code]{width:50% !important;}*/
#cb-content > li.cb-placeholder.source{width:100% !important;}

/*#content div[name=Code] > pre,
#content div[name=Heading] > h4,
#content div[name=Heading] > h3,
#content div[name=Heading] > h2,
#content div[name=Paragraph] > span,
#content div[name=Alert] > div{margin-left:10px;margin-right:10px;}*/
#content .alert { margin-bottom: 10px;}

#content div[name=Paragraph] p{oveflow:hidden}
[name=Paragraph] ol{list-style-type: decimal;}
[name=Paragraph] ol ol{list-style-type: decimal;}
[name=Paragraph] ol ol ol{list-style-type: decimal;}
[name=Paragraph] ul{list-style-type: disc;}
[name=Paragraph] ul ul{list-style-type: circle;}
[name=Paragraph] ul ul ul{list-style-type: square;}


/*form specifics*/
.custom .custom{display:inline-block;width:32px;height:32px;margin:2px;cursor:pointer;background:transparent url("/assets/img/png/glyphicons_187_more.png") 50% no-repeat;border-radius:2px;border:solid 1px #ddd;opacity:.5}
.custom .custom.selected{border-color:#fff;opacity:1}
.custom .custom:hover{border-color:#bbb;}
.custom .custom.h4{background-image:url("/assets/img/png/glyphicons_115_text_smaller.png")}
.custom .custom.h3{background-image:url("/assets/img/png/glyphicons_105_text_height.png")}
.custom .custom.h2{background-image:url("/assets/img/png/glyphicons_116_text_bigger.png")}

.custom .custom.left{background-image:url("/assets/img/png/glyphicons_110_align_left.png")}
.custom .custom.center{background-image:url("/assets/img/png/glyphicons_111_align_center.png")}
.custom .custom.right{background-image:url("/assets/img/png/glyphicons_112_align_right.png")}
.custom .custom.justify{background-image:url("/assets/img/png/glyphicons_113_justify.png")}

.custom .custom.linenums{background-image:url("/assets/img/png/glyphicons_156_show_thumbnails_with_lines.png")}
iframe{width:100% !important;background:#fff;border:0px}
iframe body{font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;}
#cb-form textarea{min-height:100px}




#header{height:50px;background:#111;border-bottom:solid 1px #fff;position:fixed;width:100%;}
#sidebar{width:220px;border-right:solid 1px #e0e0e0;padding:10px;background:#eee;position:fixed;z-index:12000;top:41px;left:0px;bottom:0px;text-align:left}
#cb-form{background:#eee;width:220px;position:absolute;top:10px;left:10px;z-index:12000}
#cb-source li{width:210px;color:#444;padding:4px;margin-bottom:4px;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;font-size: 14px !important;}
#cb-source{margin:0px;background-color:#d0d0d0;position:absolute;top:20px;left:10px;width:220px;font-weight:bold;padding:5px;border:solid 1px #aaa}
#cb-source li {margin:2px;cursor:pointer;padding:4px;border:solid 0px #888;width:auto;background:none;border-radius:2px}
#cb-source li:hover {background:#f8f8f8}
#cb-source li.ui-sortable-helper{color:#f0f0f0;background-color:#666;z-index: 20000;}
#cb-source li.ui-sortable-helper i{background-image:url("../img/glyphicons-halflings-white.png");}
.ui-sortable-helper{background:#fff;}


#cb-content > li.ui-sortable-helper.source{background:#aaa !important;}
/*#cb-content > li.cb-placeholder.source{height:159px !important}*/
#cb-starter{border-color:#ddd}
#cb-form{width:230px;}
#sidebar #cb-source{border:0px;padding:0px;background:none}
#header >div > span{margin:9px;}
#header div {height:100%;}
[name=alt-form]{position:fixed;bottom:0px;right:0px;left:241px;background:#fff;z-index:11000;overflow:hidden;border-top:solid 0px #ddd}
[name=alt-form] textarea {min-height:200px;width:98% !important;border:0px;margin:0px 2px -0px;
font-family:auto;font-size:16px;line-height:18px;color:#000;
-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;
}
[name=alt-form] .sc-hr div{padding:2px 5px;background:#c8c8c8;color:#fff}
/*[name=alt-form] .ToolBar{overflow:auto;background:#ddd}*/

fieldset{position:relative}
fieldset.dupable:hover .remove,fieldset.dupable:hover .add{display:inline-block}
fieldset .remove,fieldset .add{position:absolute;text-align:center;left:220px;width:30px;background:#ddd;line-height:30px;cursor:pointer;display:none;padding:7px 0px}
fieldset .remove i,fieldset .add i{opacity:.6}
fieldset .remove{left:250px;border-left:solid 1px #eee}
fieldset .remove:hover,fieldset .add:hover{background:#aaa}
fieldset .remove:hover i,fieldset .add:hover i{opacity:.9}


#header{position:fixed;z-index:12000;display:none}

/*#wait-container {position: absolute;width: 100%;z-index: 13000;top: 5px;}
#wait-container div {position: absolute;width: 100%;text-align: center;margin: auto;height:0px;}
#wait-container span {margin: auto;}

#wait{display:inline-block;height:40px;width:100px;background:url("http://content.sandbox.cloversweet.com/img/pageloading.gif") no-repeat 50%;}
*/


/*#status-message-container {position: fixed;width: 100%;z-index: 14000;top: 11px;}
#status-message-container div {position: absolute;width: 100%;text-align: center;margin: auto;height:0px;}
#status-message {padding-right: 14px;}
#status-message-container span {margin: auto;}
*/




/*.modal{position:fixed;top:0px;left:0px;right:0px;bottom:0px;z-index:100010;text-align: center;}
.modal-background{position:fixed;top:0px;left:0px;right:0px;bottom:0px;background:#333;opacity:.5}
.modal-container{margin:0px auto;display:inline-block;overflow:hidden;border-radius:5px;min-width:500px;border:solid 1px;text-align:left;background:#fff;
position:relative;top:20px}
.modal-title{
  background-image: -moz-linear-gradient(top, #f8f8f8, #e8e8e8);
  background-image: -ms-linear-gradient(top, #f8f8f8, #e8e8e8);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f8f8), to(#e8e8e8));
  background-image: -webkit-linear-gradient(top,#f8f8f8, #e8e8e8);
  background-image: -o-linear-gradient(top, #f8f8f8, #e8e8e8);
  background-image: linear-gradient(top, #f8f8f8, #e8e8e8);
  background-repeat: repeat-x;
  height:40px;border-bottom:solid 1px #ddd;background-color:#eee;border-top-left-radius:5px;border-top-right-radius:5px;padding-left:10px;color:#666;
line-height:40px;font-size:16px;}
.modal-close{display:inline-block;position:absolute;top:6px;right:6px;width:26px;height: 26px;opacity: .4;
background: url(/assets/img/png/glyphicons_192_circle_remove.png);cursor: pointer;}
.modal-close:hover{opacity:.6}
.modal-content{padding:20px;min-height:200px;overflow:hidden}
.modal-bottom{height:40px;border-top:solid 1px #ddd;background-color:#eee;padding-left:10px;border-bottom-left-radius:5px;border-bottom-right-radius:5px;}
.modal-bottom .btn{float:right;margin:4px 10px 0 0}


.modal textarea{width:500px;height:200px}
*/

#img-selection img{cursor:pointer;opacity:.7}
#img-selection img:hover{opacity:.95}
#img-selection img.selected{background:#b0e0f8;opacity:1}
