#sc-commonbar{opacity:.98;padding:0px;margin-bottom:0px;position:absolute;top:0px;left:0px;width:100%;text-align:center;background:#333333;min-width:1002px;border-bottom:solid 1px black;z-index:2000;font-family: Verdana, Geneva, sans-serif;font-size:14px;color:#f0f0f0}
#sc-commonbar a{color:#f0f0f0;display:inline-block;padding:4px 0px}
#sc-commonbar .row[name=middle] a{padding:0px;}
#sc-commonbar .button{margin:4px 0px}
#sc-commonbar-container{margin:0px auto;width:988px;height:100%;}
#sc-commonbar-shadow{width:100%;position:absolute;bottom:-15px;left:0px;height:15px;background:url(../../img/shadow.png) repeat-x;}
#sc-commonbar .row div{clear:none}
#sc-commonbar .row .left{float:left}
#sc-commonbar .row .right{float:right}
#sc-commonbar .row .button{position:relative}
#sc-commonbar .row .right.space{margin-right:20px}
#sc-commonbar .row .left.space{margin-left:20px}
#sc-commonbar .row .text{padding:8px 0px;height:14px}
#sc-commonbar .link{cursor:pointer}
#sc-commonbar form{padding:3px 0px}
#sc-commonbar form input{width:100px;margin-left:10px}

#sc-commonbar form input[type=submit]{width:auto;background-color:#333;color:#f8f8f8;font-weight:bold;border:solid 1px;cursor:pointer}
#sc-commonbar #sc-commonbar-menu a{padding:0px;background:url(../../img/12-light-eye.png) 50% 50% no-repeat;margin:0px 2px;color:transparent;width:30px;height:30px;}
#sc-commonbar #sc-commonbar-menu a[name=Manage]{background-image:url(../../img/19-light-gear.png)}
#sc-commonbar #sc-commonbar-menu a:hover{background-color:#4c4c4c}
#sc-commonbar #sc-commonbar-show,#sc-commonbar #sc-commonbar-hider{padding:7px 7px 7px 6px;border-left:solid #999 1px;cursor:pointer;background-color:#888}
#sc-commonbar #sc-commonbar-show:hover,#sc-commonbar #sc-commonbar-hider:hover{background-color:#777}


#sc-commonbar .row div{display:inline-block}
#sc-commonbar .row[name=top]{height:0px;overflow:hidden;}
#sc-commonbar .row[name=bottom]{height:30px;}
#sc-commonbar .row .text#sc-commonbar-account,#sc-commonbar .row .text#sc-commonbar-login{float:right;cursor:pointer;padding-left:10px;padding-right:8px;color:#FFF;font-weight:bold;}
#sc-commonbar-account img{height:30px;position:absolute;top:0px;left:-30px;padding:0px;margin:0px}
#sc-commonbar-account:hover{background-color:#777}
#sc-commonbar a#sc-commonbar-logo{float:left;display:inline-block;text-align:leftposition:relative;font-size:12px;
padding:10px 32px 2px 2px;
padding:10px 213px 2px 2px;
background:url('http://content.steepleconnect.com/img/logo_dark.png') -176px 2px no-repeat;
background:url('http://content.steepleconnect.com/img/logo_dark.png') 20px 2px no-repeat;
font-size:15px;font-family: Arial, Helvetica, sans-serif;}
#sc-commonbar #sc-commonbar-menu a{display:none}
#sc-church-profile #sc-commonbar #sc-commonbar-menu a[name=Manage],
#sc-admin #sc-commonbar #sc-commonbar-menu a[name=Site],
#sc-editor #sc-commonbar #sc-commonbar-menu a[name=Site],
#sc-editor #sc-commonbar #sc-commonbar-menu a[name=Manage]{display:inline-block}

#sc-commonbar .row .right.space[name=Help]{width:30px;height:30px;padding:0px;background:url(../../img/white-buoy.png) no-repeat 50% 50%;margin-right:35px}
#sc-commonbar .row .right.space[name=Help]:hover{background-color:#4c4c4c}
#sc-commonbar [name=facebook]{width:154px;height:22px;padding:0px;margin-top:4px;background:url(../../img/login-button.png)}
