body{background:#ccc url('http://content.sandbox.cloversweet.com/img/tile_texture.png')}
body{background:#f8f8f8}
#container #login{width:500px;padding-top:10px;margin:100px auto 25px;position:relative;border:solid 1px #bbb;background:#f4f4f4;padding:50px 0px}

#cb-source li{padding:0px}
#cb-source a{display:block;color:#000;opacity:.8;text-decoration:none;padding:4px}
#cb-source a:hover{opacity:1}
#content{overflow:visible;width:auto}

#cal-container{padding-top:20px}
