<li data-name="{{type}}" class="{{#contentFields}}noveil{{/contentFields}} pull-{{attributes.width}}{{#attributes.width}}left{{/attributes.width}} width{{attributes.width}}" style="position: relative; display: block;" id="{{uuid}}">
	<div class="cobler-li-content"></div>
	<div class="btn-group actions" style="opacity:.6">
		<span class="remove-item btn btn-danger fa fa-trash-o" data-title="Remove"></span>
		<span class="duplicate-item btn btn-default fa fa-copy" data-title="Duplicate"></span>
	</div>
</li>