<div class="row clearfix {{modifiers}} {{#multiple.duplicate}}dupable" data-min="{{multiple.min}}" data-max="{{multiple.max}}{{/multiple.duplicate}}" name="{{name}}" data-type="{{type}}">
	{{>berry__label}}
	{{#multiple.duplicate}}
	<div class="duplicate add btn btn-default"><i class="fa fa-plus"></i></div>
	<div class="btn btn-default remove"><i class="fa fa-minus"></i></div>
	{{/multiple.duplicate}}
	<div class="item-content" style="clear:both">
		{{content}}
		{{>berry__addons}}
	</div>
		{{>berry__popins}}
</div>