<li>
  <div class="thumbnail" style="height:135px;background:#fff;margin:10px 5px 5px 10px;margin:0">
    <figure style="line-height:100px;height:100px;text-align:center;border:solid 1px #eee;background:#f8f8f8 url('/assets/img/{{name}}') no-repeat 50%">
    </figure>
    <figcaption class="caption" style="overflow:hidden;height:21px;padding:4px 2px;">
      {{name}}
    </figcaption>
    <span class="btn btn-white parent-hover tooltips" title="Delete&nbsp;Image" style="position:absolute;top:10px;right:10px;border:none;">
      <i class="fa fa-times"></i>
    </span>
    <span class="btn btn-white parent-hover tooltips" title="Edit&nbsp;Image" style="position:absolute;top:10px;left:10px;border:none;">
      <i class="fa fa-pencil"></i>
    </span>
  </div>
</li>
