<div>
<div class="admin-heading green">
    <span><i class="fa fa-photo"></i> Images<i class="btn btn-default btn pull-right fa fa-plus"></i></span>
</div>
    <ul class="grid cs-style-6" id="image-list">
   </ul>

    {{^models}}
        <div class="panel-body">
            <h4>No Images</h4>
        </div>
    {{/models}}
</div>