<a href="javascript:void(0);" class="list-group-item">
	<h5 style="font-weight: bold;">{{{name}}}</h5>
	<span class="text-info pull-right">{{{price}}}</span>
	<div class="text-muted">{{{description}}}&nbsp;</div>
	<span class="btn btn-danger parent-hover tooltips" title="Delete&nbsp;Item" style="position:absolute;top:10px;right:20px;"><i class="fa fa-times"></i></span>
</a> 