		<a href="javascript:void(0);" class="list-group-item">
			<div class="btn-group pull-right parent-hover actions" style="margin-right:5px">
				<span class="btn btn-danger tooltips" title="Delete&nbsp;Page"><i class="fa fa-times"></i></span><span></span>
				<span class="btn btn-success tooltips" title="Visit&nbsp;Page"><i class="fa fa-eye"></i></span>
			</div>
			<h6 >{{title}}</h6>
		</a> 