<form id="{{_id}}" method="post" action="/records">
	<legend>{{title}}</legend>
	{{{content}}}
	<input type="hidden" name="form" value="{{_id}}"/>
	<button type="submit" class="btn btn-default">Submit</button>
</form>