<div>
	<div id="alt-sidebar"></div>
	<div class="cobler-header"><span style="color:#fff;font-size:larger" id="title">{{title}}{{^title}}New Form{{/title}}</span><span class="pull-right"> <a class="btn btn-white" id="save-page" href="javascript:void(0)">Save</a><a class="btn btn-danger" href="javascript:cb.clear()">Clear</a></span></div>
	<div style="margin-right:300px;position:relative" name="page-content">
		<div id="itemcontainer"></div>
	</div>
</div>