<div>
	<div class="admin-heading blue">
		<span><i class="fa fa-circle-o"></i> Records for <b>"{{title}}"</b></span>
	</div>
	<div class="panel panel-primary">
	<div class="table-responsive">
	  <table id="record-list" class="table table-striped">
	  </table>
	</div>
	</div>
</div>