<li id="list_{{_id}}" data-id="{{_id}}" class="list-group-item">
	<div class="sortableContent">
		<i class="fa fa-bars parent-hover" style="position:absolute;top:8px;left:10px;font-size:30px"></i>
		<span class="pull-right btn btn-danger parent-hover" style="margin-right:5px"><i class="fa fa-times"></i></span>
		<span class="pull-right btn btn-white parent-hover" style="margin-right:5px"><i class="fa fa-pencil"></i></span>
		<span class="text" style="line-height:32px;margin-left:5px">{{text}}</span>
	</div>
	<ul></ul>
</li>