<div>
<div class="admin-heading blue">
	<span><i class="fa fa-navicon"></i> Navigation<i class="btn btn-default btn pull-right fa fa-plus"></i></span>
</div>
						<ul class="list-group nested-sortable"></ul>
</div>