<div>
<div class="admin-heading blue">
	<span><i class="fa fa-globe"></i> Sites<i class="btn btn-default pull-right fa fa-plus"></i></span>
</div>
<div class="panel panel-primary">
  <div class="list-group" id="page-list">
	</div>
</div>
</div>